body {margin: 0;
      padding: 0;}
p {margin: 0}
h1{margin: 0;}
.main {
	position: relative;
	background-image: url(img/bg.jpg);
    background-position: 400px 0;
    background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
}
.logo__img {
	margin-left: 5%;
	margin-top: 20px;
}

.main__title {
	position: absolute;
	margin-top: 350px;
	height: 250px;
	width: 95%;
	background: rgba(53,74,94,.5);
	margin-left: 5%;
}

.main__title-big {
	padding: 15px;
	margin-left: 10%;
	position: absolute;
	margin-top: 8%;
	font-family: Open Sans,sans-serif;
	font-size: 30px;
	letter-spacing: 7px;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    text-align: center;
}
.main__description {
	padding: 15px;
	margin-left: 10%;
	position: absolute;
	margin-top: 10%;
	font-family: Open Sans,sans-serif;
	font-size: 24px;
	letter-spacing: 5px;
    font-style: normal;
    color: white;
    font-weight: 200;
    text-align: center;

}
.content {
	width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-top: 200px;
}
.icon {
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: cover;
	width: 150px;
	height: 150px;


}
li{
	list-style: none;
	
	padding-left: 125px;

}
/*
 li{
	position: relative;
    padding-left: 125px;
    font-family: Open Sans,sans-serif;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 4px;
    height: 100px;
    padding-top: 20px;
}
*/









/*разрешения*/
@media (max-width: 1199px) and (min-width: 992px) {
.main {
    height: 700px;
    background-position: 300px 0;
}
.main__title-big {
	letter-spacing: 4px;
}
.logo__img {
	margin-left: 1%;
	
}
}
@media (max-width: 1030px) and (min-width: 800px) {
.main {
    height: 800px;
    background-position: 300px 0;
}
.main__title-big {
	letter-spacing: 3px;
	padding: 0px;
}
.main__description {
	font-size: 18px;
}
.logo__img {
	margin-left: 1%;
	
}
}
@media (max-width: 970px) and (min-width: 600px) {
.main {
    height: 600px;
    background-position: 0px 0;
}
.main__title-big {
	letter-spacing: 1px;
	padding: 0px;
}
.main__description {
	font-size: 18px;
}
.logo__img {
	margin-left: 1%;
	
}
}
@media (max-width: 880px) and (min-width: 500px) {
.main {
    height: 600px;
    background-position: 0px 0;
}
.main__title-big {
	font-size: 24px;
	letter-spacing: 1px;
	padding: 0px;
}
.main__description {
	font-size: 16px;
}
.logo__img {
	margin-left: 1%;
	
}
}
@media (max-width: 760px) and (min-width: 500px) {
.main {
    height: 600px;
    background-position: 0px 0;
}
.main__title-big {
	font-size: 18px;
	letter-spacing: 1px;
	padding: 0px;
}
.main__description {
	font-size: 14px;
}
.logo__img {
	margin-left: 1%;
	
}
}
@media (max-width: 640px) and (min-width: 337px) {
.main {
    height: 600px;
    background-position: 0px 0;
}
.main__title-big {
	margin-top: 16%;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 0px;
	/*margin-bottom: 10px;*/
}
.main__description {
	font-size: 12px;
	margin-top: 20%;

}
.logo__img {
	margin-left: 1%;
	
}
}
